
<div>
    <h1>Details</h1>
id : {{id}}<br>
name : {{name}}<br>
avg : {{avg}}<br>

address<br>
streetno : {{address.streetno}}<br>
city : {{address.city}}<br>
state : {{address.state}}<br>
<br><br>

<b><u>hobbies</u></b><br>
<ol>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ol>
</div>