
<div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let product of products">
            <div class="card" style="width:300px;">
                <img class="card-img-top" [src]="product.imgsrc" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><b>Price: <s>₹45000/-</s> ₹{{product.price}}/- </b></p>
                    <p align="right">
                        <button class="btn btn-primary">AddToCart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width:300px; margin: 5px;">
                <img class="card-img-top"src="assets/Images/10001.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p class="card-text"><b>Price: <s>₹45000/-</s> ₹35000/- </b></p>
                    <p align="right">
                        <button class="btn btn-primary">AddToCart</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card" style="width:300px; margin: 5px;">
                <img class="card-img-top"src="assets/Images/10002.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p class="card-text"><b>Price: <s>₹45000/-</s> ₹35000/- </b></p>
                    <p align="right">
                        <button class="btn btn-primary">AddToCart</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card" style="width:300px; margin: 5px;">
                <img class="card-img-top"src="assets/Images/10003.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p class="card-text"><b>Price: <s>₹45000/-</s> ₹35000/- </b></p>
                    <p align="right">
                        <button class="btn btn-primary">AddToCart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

 -->










<!--
<div class="container">
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-01</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-02</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-03</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-04</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-05</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-06</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-07</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-08</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-09</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-10</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-11</div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">Col-12</div>
    </div>
</div> -->
